{:nomad/snippets
 {:databases
  {:dev {}
   :prod {}}}
 :nomad/environments
 {"dev"
  {:server {:port 3000
            :thread 4
            :worker-name-prefix "dev-sandbox"}}
  "prod"
  {:server {:port 3001
            :thread 4
            :worker-name-prefix "prod-sandbox"}}}
 :nomad/hosts
 {"Kirills-MacBook-Air.local"
  {:database #nomad/snippet [:databases :dev]}
  "Remote-server"
  {:database #nomad/snippet [:databases :prod]}}}









